page-home {
   
    [default-background] {
        background-image: url("https://destinationgirls.com/applications/admin/static/img/bg-img/bg-img-5.jpg");
        background-repeat: no-repeat;
        background-size: auto ;
      }

}
