page-wellcome {
    [default-background] {
        background-image: url("https://destinationgirls.com/applications/admin/static/img/bg-img/bg-img-5.jpg");
        background-repeat: no-repeat;
        background-size: auto ;
      }
        
        .item.item-input {
            background-color:rgba(201, 76, 76, 0.1);
            color: white;
        }
    
}
