page-wellcome {
    [default-background] {
        background-image: url("https://www.innovalaboem.com/assets/uploads/revslider/homepage1/bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100% ;
      }
        
        .item.item-input {
            background-color:rgba(201, 76, 76, 0.1);
            color: white;
        }
    
}
